In [1]:
import pymysql
import pandas as pd
from pandas import DataFrame,Series

In [2]:
sql = ''
conn = pymysql.connect('rdsl1bdoa7h7d5ko2hkno.mysql.rds.aliyuncs.com',
                       user='bossaccess',
                       passwd = 'master-502',
                       db = 'chekumaster',
                       charset='utf8')
sql = '''select cheku_spec_order.create_time,cheku_spec_order.order_info,
            cheku_spec_order.username,cheku_spec_order.address,cheku_spec_order.msrp,
            cheku_spec_order.buy_num,cheku_spec_order.costs,cheku_spec_order.order_status,
            cheku_procurement_order.supplyGoods as supply,cheku_procurement_order.username as supplyname,cheku_procurement_order.goodsCity as fromcity
        from chekumaster.cheku_spec_order right join chekumaster.cheku_procurement_order
        ON  cheku_spec_order.proIds = cheku_procurement_order.id
        where cheku_spec_order.transport_method = 2 and cheku_spec_order.del_flag != 1;
        '''
df = pd.read_sql(sql,conn)

/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '24,'")
  result = self._query(query)
/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '27,'")
  result = self._query(query)
/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '26,'")
  result = self._query(query)
/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '25,'")
  result = self._query(query)
/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '28,'")
  result = self._query(query)
/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '29,'")
  result = self._query(query)
/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '70,'")
  result = self._query(query)
/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '8069,'")
  result = self._query(query)
/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '8068,'")
  result = self._query(query)
/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '8072,'")
  result = self._query(query)
/home/laptop/anaconda2/lib/python2.7/site-packages/pymysql/cursors.py:166: Warning: (1292, u"Truncated incorrect DOUBLE value: '8077,'")
  result = self._query(query)

In [8]:
df.index = pd.to_datetime(df.create_time)

In [9]:
df = df.drop('create_time',axis=1)

In [11]:
df.loc['2017']

,order_info,username,address,msrp,buy_num,costs,order_status,supply,supplyname,fromcity
create_time,,,,,,,,,,
2017-02-08 15:35:02,雪佛兰:上汽通用雪佛兰:赛欧:2016款 赛欧3 1.3L 手动舒适天窗版,王阿蒙,河南省洛阳市高新开发区河洛路与安康路交叉口向北500米威佳汽车博览中心6号,63900,1,0,1,上海锦俊汽车销售服务有限公司,陈元龙,上海市
2017-02-09 14:37:43,雪佛兰:上汽通用雪佛兰:赛欧:2016款 赛欧3 1.3L 手动舒适天窗版,张云范,莱芜市莱城区长勺北路汽车商贸城雪佛兰4S店,63900,6,0,-2,上海锦俊汽车销售服务有限公司,李瑞娇,上海市
2017-02-23 13:28:09,雪佛兰:上汽通用雪佛兰:迈锐宝XL:2016款 2.5L 自动锐尊版,王阿蒙,林安汽车城,249900,1,2174,1,上海锦俊汽车销售服务有限公司,王阿蒙,上海市
2017-02-27 15:32:17,别克:上汽通用别克:英朗:2017款 15N 自动进取型,王阿蒙,河南省洛阳市洛龙区林安汽车城南10号展厅,119900,1,1885,1,上海美悦汽车销售有限公司,陈峥嵘,上海市