In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
import os
os.getcwd()

'C:\\Users\\chenshengkang\\Documents\\GitHub\\Data_Analysis'

In [5]:
df = pd.read_csv('DMSC.csv',index_col='ID')

In [6]:
df.head()

,Movie_Name_EN,Movie_Name_CN,Crawl_Date,Number,Username,Date,Star,Comment,Like
ID,,,,,,,,,
0,Avengers Age of Ultron,复仇者联盟2,2017-01-22,1,然潘,2015-05-13,3,连奥创都知道整容要去韩国。,2404
1,Avengers Age of Ultron,复仇者联盟2,2017-01-22,2,更深的白色,2015-04-24,2,非常失望，剧本完全敷衍了事，主线剧情没突破大家可以理解，可所有的人物都缺乏动机，正邪之间、...,1231
2,Avengers Age of Ultron,复仇者联盟2,2017-01-22,3,有意识的贱民,2015-04-26,2,2015年度最失望作品。以为面面俱到，实则画蛇添足；以为主题深刻，实则老调重弹；以为推陈出...,1052
3,Avengers Age of Ultron,复仇者联盟2,2017-01-22,4,不老的李大爷耶,2015-04-23,4,《铁人2》中勾引钢铁侠，《妇联1》中勾引鹰眼，《美队2》中勾引美国队长，在《妇联2》中终于...,1045
4,Avengers Age of Ultron,复仇者联盟2,2017-01-22,5,ZephyrO,2015-04-22,2,虽然从头打到尾，但是真的很无聊啊。,723

In [25]:
df.shape

(2125056, 9)

In [19]:
df['Movie_Name_EN'].value_counts()

Zootopia                                      137511
CUG King of Heroes                            133393
The Continent                                 120200
The Ghouls                                    113687
Your Name                                     113260
Goodbye Mr. Loser                             109162
Train to Busan                                102876
La La Land                                     96620
Journey to the West The Demons Strike Back     91452
Tiny Times 1.0                                 88903
Lost In Thailand                               85677
Big Fish and Begonia                           83692
The Great Wall                                 83173
Journey to the West Conquering the Demons      79962
The Avengers                                   78281
The Mermaid                                    73882
Soulmate                                       68359
Captain America Civil War                      64410
Transformers Age of Extinction                 58746
Avengers Age of Ultron                         54153
Chinese Zodiac                                 46233
Chronicles of the Ghostly Tribe                44366
Tiny Times 3.0                                 41152
The Left Ear                                   39802
Operation Mekong                               35093
Forever Young                                  30475
My Sunshine                                    26797
Iron Man                                       23739
Name: Movie_Name_EN, dtype: int64

In [22]:
df.Star.groupby(df['Movie_Name_EN']).mean()

Movie_Name_EN
Avengers Age of Ultron                        3.496113
Big Fish and Begonia                          3.263263
CUG King of Heroes                            4.266476
Captain America Civil War                     3.852119
Chinese Zodiac                                3.473839
Chronicles of the Ghostly Tribe               2.352928
Forever Young                                 2.423560
Goodbye Mr. Loser                             3.764561
Iron Man                                      3.975820
Journey to the West Conquering the Demons     3.533453
Journey to the West The Demons Strike Back    3.068746
La La Land                                    4.221548
Lost In Thailand                              3.769413
My Sunshine                                   1.819084
Operation Mekong                              3.967971
Soulmate                                      3.862973
The Avengers                                  4.053717
The Continent                                 3.679201
The Ghouls                                    3.898062
The Great Wall                                3.128804
The Left Ear                                  2.777524
The Mermaid                                   3.379781
Tiny Times 1.0                                2.341395
Tiny Times 3.0                                2.159555
Train to Busan                                4.124276
Transformers Age of Extinction                3.256409
Your Name                                     4.310975
Zootopia                                      4.636749
Name: Star, dtype: float64

In [23]:
df.Like.groupby(df['Movie_Name_EN']).sum()

Movie_Name_EN
Avengers Age of Ultron                         16829
Big Fish and Begonia                          162137
CUG King of Heroes                             99573
Captain America Civil War                      46870
Chinese Zodiac                                  9489
Chronicles of the Ghostly Tribe                31731
Forever Young                                 117682
Goodbye Mr. Loser                              67110
Iron Man                                        1998
Journey to the West Conquering the Demons      29719
Journey to the West The Demons Strike Back    446811
La La Land                                     95939
Lost In Thailand                               26957
My Sunshine                                    55299
Operation Mekong                               85967
Soulmate                                       56299
The Avengers                                   11745
The Continent                                 101163
The Ghouls                                     66632
The Great Wall                                179754
The Left Ear                                   31787
The Mermaid                                   116115
Tiny Times 1.0                                102594
Tiny Times 3.0                                 57963
Train to Busan                                 92061
Transformers Age of Extinction                  9894
Your Name                                     119717
Zootopia                                       51147
Name: Like, dtype: int64